<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".ui.DockQaActivity" android:exported="false" />
        <activity android:name=".ui.setup.SetupQaActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.feed.BankSyncQaActivity" android:exported="false" />
        <activity android:name=".ui.settings.PushJournalQaActivity" android:exported="false" />
        <activity android:name=".ui.feed.ComposerQaActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name="dev.whekin.whfin.ui.feed.CashRunwayQaActivity" android:exported="false" />
        <activity android:name="dev.whekin.whfin.ui.accounts.AccountsQaActivity" android:exported="false" />
        <activity android:name="dev.whekin.whfin.ui.sms.SmsRoutingQaActivity" android:exported="false" />
        <activity android:name=".ui.settings.IncomeSourcesQaActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.transfer.OwnTransferQaActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.analytics.AnalyticsQaActivity" android:exported="false" />
        <activity android:name=".ui.settings.TbcLoginQaActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.settings.AppLockQaActivity" android:exported="false" />
        <activity android:name=".ui.feed.SmsDecisionQaActivity" android:exported="false" />
        <activity android:name=".ui.settings.BankSmsQaActivity" android:exported="false" />
        <activity android:name=".ui.feed.BankConnectionQaActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.settings.TbcOtpQaActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.settings.SettingsQaActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
